* {
    font-family: verdana;
    background-color: white;
}

#createpost {
    height: 450px;
    text-align: center;
}

#title {
    width: 300px;
    height: 40px;
    border-color: yellow;
    border-style: solid;
}

#body {
    border-color: yellow;
    border-style: solid;
}

.button {
    border-color: yellow;
    border-style: solid;
    background-color: white;
    width: 100px;
    height: 50px;
}