<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; background-color: black; color:yellow; height: 100px">
  <p style="font-size: 50px">FORUM</p>
</div>

<router-outlet></router-outlet>
  <div style="text-align: center; padding-top: 20px" *ngIf="value == 1">
    <a routerLink="/signup" routerLinkActive="Active" (click)="onclickevent()"><button class="button">SIGN UP</button></a>   
    <a routerLink="/signin" routerLinkActive="Active" (click)="onclickevent()"><button class="button">SIGN IN</button></a>
  </div> 
  
  


