<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; background-color: black; color:yellow; height: 100px">
  <p style="font-size: 50px; padding-top: 20px">FORUM</p>
</div>

<router-outlet></router-outlet>

<div id="signupform">
  <form method="get">
    NAME<br>
    <input class="input" type="text" name="name"><br><br>
    EMAIL ID<br>
    <input class="input" type="email" name="emailid"><br><br>
    PHONE NUMBER<br>
    <input class="input" type="text" name="phonenuumber"><br><br>
    PASSWORD<br>
    <input class="input" type="password" name="tax"><br><br><br>

    <a routerLink="/home" routerLinkActive="Active"><input class="button" type="submit" value="SIGN UP"></a>
    <input class="button" type="reset" value="RESET">    
  </form>
</div>

<div id="signinform" style="float: left">
  <form>
    EMAIL ID<br>
    <input class="input" type="email" name="name"><br><br>
    PASSWORD<br>
    <input class="input" type="password" name="password"><br><br><br>

    <input class="button" type="submit" value="SIGN IN"> <input class="button" type="reset" value="RESET">
  </form>
</div>

