<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 appBlueColor>FORUM</h1>
  <div>
    <form id="form1">
      NAME<br>
      <input class="inputform1" type="text" name="name"><br><br>
      EMAIL ID<br>
      <input class="inputform1" type="email" name="emailid"><br><br>
      PHONE NUMBER<br>
      <input class="inputform1" type="text" name="phonenuumber"><br><br>
      PASSWORD<br>
      <input class="inputform1" type="password" name="tax"><br><br><br>

      <input type="submit" value="SIGN UP"> <input type="reset" value="RESET">
    </form>
  </div>
</div>

    
