<div id="header">
  <div id="namelogout">
    <input type="text" name="name" placeholder="nameofuser" style="border: none; background-color: yellow"><br><br>
    <a routerLink="/createpost" routerLinkActive="Active"><button class="button">CREATE POST</button></a>
    <a routerLink="/" routerLinkActive="Active"><button class="button">LOG OUT</button></a>
  </div>
</div>

<div style="height: 400px">  
  <br>
  <li *ngFor="let t of threads">
      {{ t.title }}<br>{{t.body}}
      <a routerLink="/editpost" routerLinkActive="Active"><button class="button">edit</button></a>
  <a routerLink="/commentpost" routerLinkActive="Active"><button class="button">comment</button></a><br><br>
  </li>
  
</div>

<router-outlet></router-outlet>
