<div id="header">
  <div id="namelogout">
    <input type="text" name="name" placeholder="nameofuser" style="border: none; background-color: yellow"><br><br>
    <a routerLink="/createpost" routerLinkActive="Active"><button class="button">CREATE POST</button></a>
    <a routerLink="/" routerLinkActive="Active"><button class="button">LOG OUT</button></a>
  </div>
</div>

<div style="height: 200px">  
  Threads appears here...<br>
  <a routerLink="/editpost" routerLinkActive="Active"><button class="button">edit</button></a>
  <a routerLink="/commentpost" routerLinkActive="Active"><button class="button">comment</button></a>
</div>

<router-outlet></router-outlet>
